{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block content %}

<section id="login" class="book_a_table d-flex flex-wrap align-items-center" style="background-color: rgb(230, 170, 111, 0.9);">
    <div class="col-sm-6 mx-auto" style="background-color: whitesmoke;">
        <div class="text-center mx-auto rounded">
            <div class="col-md-6 mx-auto p-3">
                <h2>{% trans "Log In" %}</h2>

                <p>{% blocktrans %}Don't have any account? click
                    <a href="{{ signup_url }}">here</a> to create one. {% endblocktrans %}</p>
            </div>
        </div>

        <div class="text-center mx-auto rounded">
            <div class="col-md-6 mx-auto p-3">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-success btn-lg" type="submit">{% trans "Log In" %}</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}