@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap');

body {
    font-family: 'Montserrat';
    min-height: 100%;
    margin: 0;
    background-image: url('https://res.cloudinary.com/emmarubih/image/upload/v1669194162/Rubis/hd-wallpaper-g599ba81cd_1920_wwdio9.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    flex-grow: 1;
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
}

.text-faded {
    color: #f6e1c5;
}

.text-center {
    text-align: center !important;
}

.d-none {
    display: none !important;
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Montserrat';
    color: #E6AA6F;

}

.mb-3 {
    margin-bottom: 1rem !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 50;
    line-height: 4rem;
    font-family: 'Poiret One';
    color: black;
}

.active {
    background-color: #494C53;
    color: white;
}

/* navbar */

.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 800;
}

/* Home page */

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.intro {
    position: relative;
}

@media (min-width: 992px) {
    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
}

.intro-img {

    background-size: cover;
    background-position: center;
}

div {
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }
}

.section-heading {
    text-transform: uppercase;
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}

p {
    line-height: 1.75;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.bg-faded {
    background-color: #E6AA6F;
}

/* info */
#bar {
    color: whitesmoke;
}

#bar1 {
    font-family: 'Poiret One';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
}

.fab {
    color: black;
    font-size: 2rem;
}

.list-inline-item {
    cursor: none;
}

/* Menu page */

.picture {
    background-image: url('https://res.cloudinary.com/emmarubih/image/upload/v1669366419/Rubis/pancakes-g7d1827466_1920_ouuasy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu_container {
    text-align: center;
    width: auto;
    height: 700px;
    padding-top: 40px;
}

#check-out {
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    font-size: 250%;
}

h2 {
    text-transform: uppercase;
}

button.btn.btn-secondary {
    color: whitesmoke;
    background-color: #35373C;
}

button.btn.btn-secondary:hover {
    background-color: #be7438;
}

button.btn.btn-secondary i {
    color: whitesmoke;
}

/* booking page */

.book_a_table {
    background-color: #E6AA6F;
    height: 700px;
}

#book-box {
    background-color: whitesmoke;
}

.cta-inner {
    letter-spacing: 2px;
}

.stroke {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
}

/* footer*/

.col-sm-4 {
    text-align: center;
}

.footer {
    color: whitesmoke;
}

.footer i {
    color: grey;
}

/* Media Quiries */
@media screen and (max-width: 1300px) {
    .container {
        height: auto;

    }

    .square-container {
        width: auto;
        height: auto;
        padding-left: 0px;
        margin-left: 0px;
    }
}

/* Media quiries for tablet sized screens */
@media screen and (max-width: 950px) {
    #cover-page {
        bottom: 270px;
        right: 0px;
    }

    .login_container {
        width: auto;
    }

    .menu_container {
        height: auto;

    }
}

/* Media queries for mobile */

@media screen and (max-width:650px) {
    #cover-page {
        height: auto;
        padding-top: 10px;
    }

    .login_container {
        height: auto;
        padding-left: 65px;
        padding-top: 50px;
    }

    .container {
        padding-left: 0px;
    }

    .booking_container {
        width: auto;
        height: 400px;
        padding-left: 100px;
        padding-right: 85px;
    }

    .my_bookings_container {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    .menu_container {
        padding-top: 0px;
        padding-bottom: 75px;

    }
}

@media screen and (max-width:400px) {
    .site-heading .site-heading-upper {
        font-size: 1rem;
    }

    .site-heading .site-heading-lower {
        font-size: 2rem;
    }

    .intro-img {
        width: 350px;
        height: 240px;
    }

}

/* Media Query for small mobile devices*/

@media screen and (max-width:360px) {
    .site-heading .site-heading-upper {
        font-size: 1rem;
    }

    .site-heading .site-heading-lower {
        font-size: 2rem;
    }

    .menu_container {
        padding-bottom: 40px;

    }

    .booking_container {
        width: auto;
        height: 400px;
        padding-left: 100px;
        padding-right: 85px;
    }

    .cta-inner {
        margin-top: 0;
    }
}
