@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap');

body {
    font-family: 'Montserrat';
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
}

.text-faded {
    color: #f6e1c5;
}



.text-center {
    text-align: center !important;
}
.d-none {
    display: none !important;
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Montserrat';
    color: #E6AA6F;
    
}
.mb-3 {
    margin-bottom: 1rem !important;
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 50;
    line-height: 4rem;
    font-family: 'Poiret One';
    color: black;
    
}

/* navbar */

#navbar {
    color: whitesmoke;
}


/* Start page/home*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
    margin-bottom: 20px;
}

#hero-image {
    min-height: 100%;
    width: 100%;
    background: url('https://res.cloudinary.com/emmarubih/image/upload/v1668768963/Rubis/coffeehouse_uqh80x.jpg') no-repeat 95% 50%;
    background-size: cover;
    


    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}

#cover-page {
    font-size: 100%;
    
    letter-spacing: 2px;

    width: 350px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: #e3b578;
    border-radius: 25px;

    bottom: 250px;
    left: 500px;

    position: sticky
}

#cover-page, #cover-page h3 {
    line-height: normal;
}


#cover-page, #cover-page h4 {
    font-size: medium;
    color: black;
    font-style: oblique;
    text-align: center;
}


/* booking page */

.book_a_table {
    background-image: url('https://res.cloudinary.com/emmarubih/image/upload/v1668691179/Rubis/coffee-bild_tpy339.jpg');
    background-size: cover;
    background-position: center;
}

#book-box {
    background-color: rgba(86, 48, 5, .4);
}

.booking_container {
    width: 800px;
    height: auto;

}

/* footer*/
#footer {
    margin-top: 10px;
}

#footer .fa {
    color: #be7438;
    font-size: large;
}

i {
    color: #be7438;
    font-size: large;
}

.col-sm-4 {
    text-align: center;
}

/* Media Quiries */ 
@media screen and (max-width: 1300px) {
    .container{
        height: auto;

    }
    .square-container {
        width: auto;
        height: auto;
        padding-left: 0px;
        margin-left: 0px;
}
    

}
/* Media quiries for tablet sized screens */
@media screen and (max-width: 950px) {
    #cover-page {
        bottom: 270px;
        right: 0px;
    }

    .login_container {
        width: auto;
    }

    .menu_container {
        height: auto;

    }

}

/* Media queries for mobile */

@media screen and (max-width:650px) {
    #cover-page {
        height: auto;
        padding-top: 10px;
    }

    .login_container {
        height: auto;
        padding-left: 65px;
        padding-top: 50px;
    }

    .container{
        padding-left: 0px;
    }

    .booking_container {
        width: auto;
        padding-left: 100px;
        padding-right: 85px;
    }

    .my_bookings_container {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    .menu_container {
        padding-top: 0px;
        padding-bottom: 75px;

    }
    
}

@media screen and (max-width:400px) {
    .site-heading .site-heading-upper {
        font-size: 1rem;
    }

    .site-heading .site-heading-lower {
        font-size: 2rem;
    }
}

/* Media Query for small mobile devices*/

@media screen and (max-width:360px) {
    .site-heading .site-heading-upper {
        font-size: 1rem;
    }

    .site-heading .site-heading-lower {
        font-size: 2rem;
    }
    .menu_container {
        padding-bottom: 40px;

    }
}

