{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if not user.is_authenticated %}
<section id="login_required" class="book_a_table">
    <div class="login_container">
        <div class="row">
            <div class="col-md-3 mt-5 offset-md-3">
                <h3>Login Required</h3>
                <p>Please <a href="{% url 'account_login' %}">Login</a> to continue with your booking</p>
            </div>
        </div>
    </div>
</section>
{% else %}
{% if user.is_authenticated %}
<section id="booking" class="book_a_table">
    
       
            <div class="row col-9 mx-auto">
                <div class="cta-inner mt-5 p-3 text-center rounded" style="background-color: whitesmoke;">
                    <div class="col-md-6 mx-auto ">
                        <h4 class="stroke">Book Your Table:</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}

                            <button id="submit-button" class="btn btn-success">Book Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endif %}

{%endblock%}