{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if not user.is_authenticated %}
<section id="login_required" class="book_a_table d-flex flex-wrap align-items-center" style="background-color: rgb(230, 170, 111, 0.9);">
    <div class="col-sm-6 mx-auto" style="background-color: whitesmoke;">
        <div class="text-center mx-auto rounded">
            <div class="col-md-6 mx-auto p-3">
                <h3>Login Required</h3>
                <p>Please <a href="{% url 'account_login' %}">Login</a> to continue with your booking</p>
            </div>
        </div>
    </div>
</section>
{% else %}
{% if user.is_authenticated %}
<section id="booking" class="book_a_table d-flex flex-wrap align-items-center">
    
       
            <div class="col-sm-6 mx-auto">
                <div class="text-center mx-auto rounded" style="background-color: whitesmoke;">
                    <div class="col-md-6 mx-auto p-2 ">
                        <h4 class="stroke">Book Your Table:</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}

                            <button id="submit-button" class="btn btn-success">Book Now</button>
                        </form>
                    </div>
                </div>
            </div>
    
    
</section>

{% endif %}
{% endif %}

{%endblock%}