{% extends "base.html" %}

{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img src="https://res.cloudinary.com/emmarubih/image/upload/v1669029518/Rubis/eric-parks-TsNwtbCih0M-unsplash_t5uh37.jpg" alt="cover" class="intro-img img-fluid mb-3 mb-lg-0 rounded" style="width:700px;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fresh Coffee & Food</span>
                    
                </h2>
                <p class="mb-3">Here you can enjoy a good bite to eat or why not a coffee or a smoothie. Sit with company or come alone and enjoy the atmosphere. There is something here for everyone.</p>
                
            </div>
        
        </div>
    </div>
</section>





{% endblock %}