{% extends "base.html" %}

{% block content %}

<section id="hero-outer">
    <div id="hero-image"></div>
    <div id="cover-text">
        <h2>Welcome to enjoy a good meal</h2>
        <h3>Rubi's Corner</h3>
        <p><i class="fa fa-duotone fa-seedling"></i></p>
    </div>

</section>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <!-- {% load static %}
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'media/cld-sample-4.jpeg' %}" alt="food pick">
            {%endblock%} -->
        </div>
    </div>
</section>


{%endblock%}