{% extends "base.html" %}

{% block content %}


<section id="hero-outer">
    <div id="hero-image"></div>
    <div id="cover-page">
        
        <h3>Enjoy a good coffee, or why not a good sweet.</h3>
        <h4>There is a lot to choose from here with us </h4> 
        
    </div>

</section>

<!-- <section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img src="../static/media/coffee.jpeg" alt="..." width="500" height="600">
        </div>
    </div>

    
    <div id="cover-text">
        <h2>Welcome to enjoy a good meal</h2>
        <h3>Rubi's Corner</h3>
        
    </div>
    </section> -->




{% endblock %}