{% extends "base.html" %}

{% block content %}

<section id="menu" class="picture">
  <div class="menu_container d-block">
    <h2 id="check-out">Look at our menus</h2>
    <h4 class="text-uppercase" >To view, click on the button </h4>
    <p class="col-sm-4 p-5">


    <button type="button" class="btn btn-secondary d-block" data-toggle="modal" data-target="#myModal">Food Menu</button>
    </p>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <img src="https://res.cloudinary.com/emmarubih/image/upload/v1669283993/Rubis/Ska%CC%88rmavbild_2022-11-24_kl._10.59.20_cnq4sf.png" class="img-thumbnail">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
  </div>
</div>

<p class="col-sm-4 p-5">
  <button type="button" class="btn btn-secondary d-block" data-toggle="modal" data-target="#myModal2">Drink menu </button>
  </p>
<div id="myModal2" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-body">
          <img src="https://res.cloudinary.com/emmarubih/image/upload/v1669283976/Rubis/Ska%CC%88rmavbild_2022-11-24_kl._10.59.03_n4k7gd.png" class="img-thumbnail">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  </div>
</div>
</div>
    <!-- <p class="p-4">
      <button class="btn btn-secondary d-block" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Food
        Menu &nbsp; <i class="fas fa-utensils"></i></button>

    </p>

    <div class="collapse " id="multiCollapseExample1">
      <div class="card card-body">
        <p>Chicken Sandwich</p>
        <p>Tuna Sandwich</p>
        <p>Paj (different everyday)</p>
        <p>Pokebowl (different everyday)</p>

      </div>
    </div>

    <p class="p-4">
      <button class="btn btn-secondary d-block" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
        Dinks Menu &nbsp; <i class="fas fa-wine-glass"></i></button>
    </p>
    <div class="collapse " id="multiCollapseExample2">
      <div class="card card-body">
        <p>Smoothies</p>
        <p>Tea</p>
        <p>Juice</p>
      </div>
    </div>

    <p class="p-4">
      <button class="btn btn-secondary d-block" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
        Coffee Menu &nbsp; <i class="fas fa-mug-hot"></i></button>
    </p>
    <div class="collapse " id="multiCollapseExample3">
      <div class="card card-body">
        <p>Black Coffee</p>
        <p>AMERICANO</p>
        <p>CAFFÈ LATTE</p>
        <p>CAPPUCCINO</p>
      </div>
    </div> -->
  </div>
  


</section>

{%endblock%}

 