{% extends "base.html" %}

{% block content %}

<section id="menu" class="picture">
  <div class="menu_container row ">
    <h2 id="check-out">Look at our menus</h2>
    <p class="p-4">
      <button class="btn btn-secondary d-block" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Food
        Menu &nbsp; <i class="fas fa-utensils"></i></button>

    </p>

    <div class="collapse " id="multiCollapseExample1">
      <div class="card card-body">
        <p>Chicken Sandwich</p>
        <p>Tuna Sandwich</p>
        <p>Paj (different everyday)</p>
        <p>Pokebowl (different everyday)</p>

      </div>
    </div>

    <p class="p-4">
      <button class="btn btn-secondary d-block" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
        Dinks Menu &nbsp; <i class="fas fa-wine-glass"></i></button>
    </p>
    <div class="collapse " id="multiCollapseExample2">
      <div class="card card-body">
        <p>Smoothies</p>
        <p>Tea</p>
        <p>Juice</p>
      </div>
    </div>

    <p class="p-4">
      <button class="btn btn-secondary d-block" type="button" data-toggle="collapse"
        data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
        Coffee Menu &nbsp; <i class="fas fa-mug-hot"></i></button>
    </p>
    <div class="collapse " id="multiCollapseExample3">
      <div class="card card-body">
        <p>Black Coffee</p>
        <p>AMERICANO</p>
        <p>CAFFÈ LATTE</p>
        <p>CAPPUCCINO</p>
      </div>
    </div>
  </div>


</section>

{%endblock%}

 