{% extends "base.html" %}

{% block content %}

<section id="booking" class="book_a_table d-flex flex-wrap align-items-center p-3">
    <div class="col-sm-6 mx-auto rounded" style="background-color: whitesmoke;">
        <h2 class="stroke">My Bookings:</h2>
        <p class="stroke">Edit or cancel a
            booking click on the buttons below.</p>
        <div class="text-center mx-auto">
            {% for booking in bookings %}
            <div class="col-md-6 mx-auto p-2">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class='card-title text-uppercase text-center'>{{ booking.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ booking.date }} at
                            {{ booking.time }}</h6>
                        <div class='card-text'>
                            <p>No. of People: {{ booking.number_of_people }}</p>
                            <p>Location: {{booking.table}}</p>
                            <p>Occasion: {{booking.occasion}}</p>
                        </div>
                        <a href="/edit_bookings/{{booking.id}}" class="btn btn-success">Edit</a>
                        <a href="/delete_booking/{{booking.id}}" class="btn btn-success">Cancel</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>




{%endblock%}