{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<section id="booking" class="book_a_table">
   
        <div class="row col-9 mx-auto">
            <div class="cta-inner mt-5 mb-5 p-2 text-center rounded" style="background-color: whitesmoke;">
                <div class="col-md-6 mx-auto ">
                    <h5 class="stroke">Sign up for newsletter</h5>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button id="submit-button" class="btn btn-success">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>


{%endblock%}