{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<section id="booking" class="book_a_table d-flex flex-wrap align-items-center p-3">
   
        <div class="col-md-6 mx-auto">
            <div class="text-center mx-auto p-2 rounded" style="background-color: whitesmoke;">
                <div class="col-md-6 mx-auto p-2 ">
                    <h5 class="stroke">Sign up for newsletter</h5>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button id="submit-button" class="btn btn-success">Sign Up</button>
                </form>
            </div>
        </div>
    
</section>


{%endblock%}